/* @import-normalize; bring in normalize.css styles */

@import '../node_modules/modern-normalize/modern-normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

ul,
ol {
	margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}
